body {
  margin: 0;
  font-family:  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pr-2 {
  padding-right: 0.5rem;
}

// required to get $orange variable
@import "./assets/styles/";

$primary: $ackee-blue; // set the $primary variable

// set changes
@import "bootstrap";

// CoreUI Icons Set
@import '~@coreui/icons/css/all.css';

// Bootstrap Library
@import 'bootstrap/dist/css/bootstrap.css';

@import './components/star.scss'