.header {
	height: 70px;
	padding: 0 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 .125rem .5rem rgba(0,0,0,.15);
	.title {
		display: flex;
		.back_button {
			margin-right: 0.5rem;
		}
		h1 {
			margin-bottom: 0;
		}
	}

	.add_item {
		justify-self: end;
		& a {
			text-decoration: none;
		}
	}
}
